/* 引入字体 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    z-index:1000;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select, input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* 针对 iOS 设备的样式 */
input[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    -webkit-appearance: menulist-button;  /* iOS */
    -moz-appearance: none;     /* Firefox */
    appearance: none;          /* Standard */
    pointer-events: auto;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path d="M5 6l5-5H0z"/></svg>') no-repeat right #fff;
    background-size: 10px;
    padding-right: 20px; /* 给右边留出空间显示自定义的下拉箭头 */
}

.btn {
    background: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: #218838;
}

.error-message {
    color: #d9534f;
    font-weight: bold;
    margin-top: 10px;
}

.price-table {
    margin-top: 20px;
    text-align: left;
}

.price-table table {
    width: 100%;
    border-collapse: collapse;
}

.price-table th, .price-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.price-table th {
    background: #007bff;
    color: white;
}

.remark-message {
    margin-top: 20px;
    font-size: 14px;
    color: #000000;
}
